<div id='banner'>
  <div class='banner_content'>
    <h1>Shoe Game</h1>
    <p>Test</p>

    <%= link_to '<button>Sign In</button>'.html_safe, new_user_session_path %><br>
    <%= link_to '<button>Sign Up</button>'.html_safe, new_user_registration_path %>

  </div>
</div>
