#calendar {
  .calendar_content {
    p {
      font-size: 0.4rem;
      margin-bottom: 0;
      text-align: center;
    }
    td {
      padding: 0;
    }
    table {
      border: none;
    }
  }
}
