.inner-wrap {
  overflow: auto;
}
.off-canvas-fixed {
    -webkit-transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
}
.move-right > .off-canvas-fixed {
    -webkit-transform: translate3d(15.625rem, 0, 0);
    transform: translate3d(15.625rem, 0, 0);
    height:100%;
}
.left-off-canvas-menu {
    -webkit-transform: none;
    transform: none;
    margin-left: -15.625rem;
    height: 100%;
}
.main-section {
    padding:45px 0 0;
}
.tab-bar {
    width:100%;
}
@media only screen and (orientation:landscape) and (max-width: 64.0625em){
    .main-section {
        padding:0 0 0 2.8125rem;
    }
    .off-canvas-fixed {
        width:2.8125rem;
        height:100%;
        background:#333333;
    }
     section.left-small{
        border:none;
        box-shadow:none;
    }
}
.row {
  max-width:100%;
}
.full-extend-header {
  padding-left: 0px;
  padding-right: 0px;
}


header {
	background: $dark_gray;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1.75rem 0;
	border-bottom: 7px solid $green;
	.header-inner {
		width: 90%;
		margin: 0 auto;
		#logo {
			display: inline-block;
			width: 10rem;
			float: left;
		}
		nav {
			float: right;
			a {
				text-decoration: none;
				color: white;
				font-size: 1.1rem;
				line-height: 1.5;
				margin-left: 1rem;
				&:hover {
					color: $green;
				}
			}
		}
	}
}
