#column-padding-zero {
  padding: 0;
}
#panel-clean {
  background: white;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  margin: 0;
}
#row-margin-zero {
  margin: 0;
}

.max-width {
  max-width: 100%;
}
.inner-wrap {
  overflow: auto;
}
.off-canvas-fixed {
  -webkit-transition: -webkit-transform 500ms ease;
  height: 45px;
  transition: transform 500ms, height 0s ease 500ms;
}
.move-right > .off-canvas-fixed {
  -webkit-transform: translate3d(15.625rem, 0, 0);
  height:100%;
  transform: translate3d(15.625rem, 0, 0);
  transition: transform 500ms, height 0s ease;
}
.left-off-canvas-menu {
  -webkit-transform: none;
  height: 100%;
  margin-left: -15.625rem;
  transform: none;
}
.main-section {
  padding: 45px 0 0;
}
.top-bar {
  width: 100%;
}
.tab-bar {
  width:100%;
}
@media only screen and (orientation:landscape) and (max-width: 64.0625em){
  .main-section {
    padding:0 0 0 2.8125rem;
  }
  .off-canvas-fixed {
    background:#333333;
    height:100%;
    width:2.8125rem;
  }
  section.left-small{
    border:none;
    box-shadow:none;
  }
}
.zero-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.full-width {
  width: 100%;
}
.dashboard h1 {
  color: #707070;
  font-size: 1rem;
  text-align: center;
}
.dashboard p {
  color: #707070;
  font-size: 4rem;
  text-align: center;
}
.dashboard .wordy p{
  font-size: 2.5rem;
}
