<table class="small-6">
  <tr>
    <th>Model</th>
    <th>Brand</th>
    <th>Color</th>
  </tr>
  <tr>
    <td><%= shoe.model %></td>
    <td><%= shoe.brand %></td>
    <td><%= shoe.color %></td>
    <td><%= link_to 'delete', shoe_path(shoe), method: :delete %></td>
  </tr>
</table>
