<nav class="tab-bar">
  <%- if !current_user.nil? -%>
    <section class="left-small">
      <a class="left-off-canvas-toggle menu-icon"><span></span></a>
    </section>
  <%- end -%>
  <section class="show-for-portrait middle tab-bar-section">
    <h1 class="title">Shoe Game</h1>
  </section>
</nav>

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li>
      <label>My Shoe Collection</label>
    </li>

    <%- if current_user -%>
      <li><%= link_to current_user.email, root_path %></li>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>

      <%- if !@user_shoes.nil? -%>
        <%- @user_shoes.each do |user_shoe| -%>
          <%= link_to shoe_path(user_shoe) do %>
            <%= image_tag(user_shoe.image_url(:list)) %>
          <%- end -%>
        <%- end -%>
      <%- end -%>

    <%- else -%>
      <li><a href="/">Home</a></li>
      <li><a href="/users/sign_in">Sign in to see the goodies</a></li>
    <%- end -%>
  </ul>
</aside>
