<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
       <h1></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to 'Shoe Game', root_path %></a>
      </li>
    </ul>
    <ul class="right">
      <%- if current_user -%>
        <li><%= link_to current_user.email, root_path %></li>
        <li><%= link_to 'Sign Out!', destroy_user_session_path, method: :delete %></li>
      <%- end -%>
    </ul>
  </section>
</nav>
